{% extends 'layout/main.twig' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="bunga-form">
					{% set form = modules.get("FormTemplateProcessor") %}
					{% do form.set("template", templates.get("formContactUs")) %}
					{% do form.set("requiredFields", ["formFirstName", "formLastName", "formPhone", "formEmail", "formSubject", "formMessage"]) %}
					{% do form.set("skipFields", ["title", "metaKeyword", "metaDescription", "htmlTitle"]) %}
					{% do form.set("email", page.email) %}
					{% do form.set("emailSubject", "Form Contact Submission") %}
					{{ form.render() }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}