{% extends 'layout/main.twig' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="gallery">
					{% for image in page.imageGallery %}
						{% set thumb = image.size(400, 300) %}
						{% set popup = image.size(800, 600) %}
						<a class="fancybox" rel="group" href="{{ popup.url }}">
							<img src="{{ thumb.url }}" />
						</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}